<!-- Barra de Navegacion -->
<nav class="navbar navMenuMain">
    <div class="navbar-header">
        <a href="" class="navbar-brand">
            <img src="./../../assets/Icon/IconMain.png" class="iconoMain">
        </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><button mat-button [matMenuTriggerFor]="menuProduct" class="btnItemMain"> Actividades <b class="caret"></b></button>
                <mat-menu #menuProduct="matMenu">
                    <button mat-menu-item routerLink="listar-actividades"> Ver </button>
                </mat-menu>
            </li>

            <li><button mat-button [matMenuTriggerFor]="menuUser" class="btnItemMain"> Empleados <b class="caret"></b></button>
                <mat-menu #menuUser="matMenu">
                    <button mat-menu-item routerLink="register-user"> Ver </button>
                    <button mat-menu-item routerLink="consult-user"> Resgistrar </button>
                </mat-menu>
            </li>
        </ul>
    </div>
</nav>