<div class="divMain">
    <div class="divSearch">
        <!-- <input type="text" class="inputSearch" (keyup)="onSearch()" [(ngModel)]="contrainsSearch" placeholder="Buscar por nombre del producto"> -->
        <input type="text" class="inputSearch" placeholder="Buscar por nombre del producto">
    </div>

    <table datatable class="tableMain">
        <thead>
            <tr>
                <th class="tdHeader"> Codigo </th>
                <th class="tdHeader"> Estatus </th>
                <th class="tdHeader"> Fecha </th>
                <th class="tdHeader"> Retraso </th>
                <th class="tdHeader"> Responsable </th>
                <th class="tdHeader"> Accion </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activity of activities; let i = index">
                <td> {{ activity.codigo }} </td>
                <td> {{ activity.estatus }} </td>
                <td> {{ activity.fechaEjecucion }} </td>
                <td> {{ activity.diasRetraso }} </td>
                <td> {{ activity.idResponsable }} </td>
                <td>
                    <!-- <button class="btnIcon" title="Eliminar" (click)="delete(product, i)"> -->
                    <button class="btnIcon" title="Eliminar">
                      <img class="iconBoton" src="./../../../../assets/Icon/Eliminar.png"/>
                    </button>
                    <!-- <button class="btnIcon" title="Editar" (click)="updateProduct(product)"> -->
                    <button class="btnIcon" title="Editar">
                      <img class="iconBoton" src="./../../../../assets/Icon/Editar.png"/>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>