.divMain {
    border: groove;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.btn-primary {
    margin-left: 10px;
}

table {
    width: 100%;
    margin-top: 4px;
    border: groove;
}

table th {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    border-bottom: groove;
    border-bottom-width: 5px;
}

table td {
    color: black;
    font-weight: bold;
    border-bottom: groove;
}

.btnIcon {
    border: none;
    padding: 0px;
    margin-left: 5px;
}

.divSearch {
    width: 100%;
    text-align: right;
}

.inputSearch {
    width: 250px;
}